html,
body {
  background-color: rgb(218, 215, 237);
  margin: 0;
}



.header {
  color: rgb(11, 10, 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
 .logo {
    text-align: center;
    margin-bottom: 50px;

  }

  .container{
    width: 80%;
    height: 150px;
    background-color: #ffffff;
    margin: 20px auto 50px auto;
    text-align: center;
    border-radius: 40px;
}
input[type="text"], input[type="password"]{
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin: 40px 0 30px 0;
    border-radius: 5px;
    border-width: 3px;

}

.but{
    padding: 15px;
    border-radius: 10px;
    margin: 5px 0 20px 40px;
    color: rgb(11, 10, 10);
    background-color:rgb(218, 215, 237) ;
    cursor: pointer;
    font-size: 18px;
}

.but:hover{
    background-color: #adda66;
    border-bottom: 4px solid rgb(101, 92, 92);
}

  .header .lang a {
    color: rgb(11, 10, 10);
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .header .lang a:hover,
.menu li a:hover{
  color: #025d1a;
  border-bottom: 4px solid #adda66;
  cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    font-size: 22px;
  }

  .menu li {
    margin: auto 10px;
    list-style-type: none;
  }

  .menu li a {
    color: rgb(11, 10, 10);
    text-decoration: none;
    position: relative;
  }

  .main-ctn{
    text-align: center;
    border-bottom: 5px solid rgb(101, 92, 92);
   
  }

  .title {
    height: 60vh;
    color: #ffffff;
    text-align: center;
    background: url('./Fotos/im3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 40px;
    font-size: 20px;
  }
  .border{
    border-bottom: 5px solid rgb(101, 92, 92);
    margin-bottom: 150px;
    margin-top: -40px;
  }

  .types span{
  padding: 10px 30px;
  border: 1px solid #000000;
  color: rgb(11, 10, 10);
  border-radius: 8px;
  cursor: pointer;
  margin-left: 30px;
  font-size: 18px;
  }
  .types span:hover{
    background-color: #adda66;
  border: 2px solid #7671ae;
 
  }

  .cards{
    margin-top:100px;
    display: flex;
  }
  
  .cards .card{
    padding: 15px 10px; 
    background-color: #ffffff;
    width: 33%;
    border-radius: 18px;
    color: rgb(11, 10, 10);
    margin: auto 10px;
    margin-bottom: 50px;

  }
  
  .cards .card img{
    width: 100%;
  }
  
  .cards .card button{
    background: none;
    background-color:rgb(218, 215, 237) ;
    border: 1px solid #8b93f1;
    padding: 15px 60px;
    border-radius: 8px;
    color: rgb(11, 10, 10);
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  .cards .card:hover{
    background-color: #adda66;
    position: relative;
    top: -10px;
  }
  
  .cards .card:hover > button{
    background-color: rgb(218, 215, 237);
    color: rgb(11, 10, 10);
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(11, 10, 10);
    padding: 30px 0;
    border-top: 2px solid rgb(11, 10, 10);
    margin: auto 30px;
  }